* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #e2e2e2;
  color: #707070;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 12px;
}

/* HEADER */
.header {
  background: linear-gradient(to right, rgba(30,115,255,1), rgba(25,97,255,1));
  font-family: 'Roboto', sans-serif;
}

.header .left-side a:hover {
  text-decoration: none;
}

.header .img-logo {
  background-image: url(../images/level.png);
  display: block;
  width: 70px;
  height: 77px;
  margin-top: 20px;
  background-repeat: no-repeat;
}

/*.header .img-logo { Előző verzió
  float: left;
  margin-top: 20px;
  padding-right: 10px;
}*/

.header h1 {
  font-size: 56px;
  margin: 15px 0 0 0;
  padding: 0 0 0 80px;
  color: #fff;
}

.header h1 span {
  color: #82da40;
}

.header .logo .slogan {
  text-align: right;
  width: 270px;
  position: relative;
  display: inline-block;
  top: -15px;
  right: -215px;
}

.header .slogan li {
 display: inline;
 color: rgba(255,255,255,0.5);
 font-size: 18px;
}

.header .slogan li:before {
  content: '\2022';
  margin-left: 7px;
  margin-right: 7px;
}

.header .slogan li:first-child:before {
  content: '';
  margin-left: 0;
  margin-right: 0;
}

.header .right-side {
  text-align: right;
}

.header .login {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
}

.header .login li {
  display: inline;
}

.header .login li:before {
  content: '\007C';
  margin-right: 5px;
}

.header .login li:first-child:before {
  content: '';
  margin-left: 0;
  margin-right: 0;
}

.header .login a {
  color: #fff;
  font-weight: 300;
}

.header .other_buttons {
  margin-top: 20px;
  font-weight: 700;
}

.header .kiemelt {
  background-color: #ff7072;
  border: 1px solid #ff7072;
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 10px;
}

.header .tovabbi {
  background-color: rgba(0,0,0,.0);
  color: #a4ff00;
  border: 1px solid #a4ff00;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 18px;
}

.header nav {
  background-color: rgba(0,0,0,.16);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

.header nav a {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 15px;
  margin-left: 80px;
}

.header nav a:hover {
  background-color: rgba(255,255,255,0.6);
  color: #1961ff;
  text-decoration: none;
}

/* HEADER END*/

section.extra {
  background-color: #f1a8a9;
}

.extra h1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

section .box-extra,
section .box {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}

section .box-extra .header-extra {
  background-color: #d12e12;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid #fff;
  text-align: left;
  color: #fff;
}

section .box .header-box-base {
  background-color: #707070;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid #fff;
  text-align: left;
  color: #fff;
}

section .box-extra .header-extra .data,
section .box .header-box-base .data {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

section .box-extra .header-extra .data li {
  display: inline;
  font-size: 14px;
  font-weight: 700;
}

section .box .header-box-base .data li {
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

section .box-extra .header-extra .data li:before,
section .box .header-box-base .data li:before {
  content: '\2022';
  margin-left: 7px;
  margin-right: 7px;
}

section .box-extra .header-extra .data li:first-child:before,
section .box .header-box-base .data li:first-child:before {
  content: '';
  margin-left: 0;
  margin-right: 0;
}

.box-extra button.btn-extra,
.box button.btn-box-base {
  background-color: #fff;
  border: 1px solid #d12e12;
  color: #d12e12;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
}

.box-extra button.btn-extra:hover,
.box button.btn-box-base:hover {
  background-color: #d12e12;
  border: 1px solid #d12e12;
  color: #fff;
}

section.database-title {
  background-color: #1d71ff;
  margin-bottom: 30px;
}

section.database-title h1 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

section.database-title .blue-triangle::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #1d71ff transparent transparent transparent;
  position: absolute;
  left: 50%;
}



/* FOOTER */
footer {
  background-color: #1d71ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.footer_inner {
  list-style-type: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer_inner li {
  display: inline-block;
  margin-right: 20px;
}

.footer_inner li.firm::before {
  content: '\00A9';
  margin-right: 7px;
}

.footer_inner li.address::before {
  content: '\f041';
  font-family: "FontAwesome";
  color: #a4ff00;
  margin-right: 7px;
}

.footer_inner li.mail::before {
  content: '\f0e0';
  font-family: "FontAwesome";
  color: #a4ff00;
  margin-right: 7px;
}

.footer_inner li a {
  color: #fff;
}

.footer_inner li a:hover {
  color: #a4ff00;
  text-decoration: none;
}



/* FOOTER END */
